.mat-toolbar.mat-primary{
  background-color: #e31837;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.mat-icon.home-button {
  color: #FFF;
}

.home-button , .home{
  background-color: #e31837;
  text-decoration: none;
  text-shadow: none;
}

.service-table{
  border: 2pth solid black;
}

.service-health-div{
  display: flex;
  justify-content: center;
}
