<mat-toolbar  color="primary">
  <mat-icon>menu</mat-icon>

  <span> &nbsp;&nbsp;Service Health Dashboard</span>

  <span class="fill-remaining-space"></span>

    <a routerLink="/home"><mat-icon class="home-button">home</mat-icon></a>

</mat-toolbar>
  <br>
<br>
<table class="service-table">
  <!--Button to to get all statuses-->
  <div class="statusHealth">
    <span> Check Service Health Status: <button (click)="getServiceHealthList()">Status</button></span>
  </div>
  <br>
  <!--Button to get statuses by date-->
  <div class="statusHealth">
    <span> Check Service Health By Date: <button (click)="getServiceHealthByDate()">Pick Date</button></span>
  </div>
</table>
<div *ngIf="showServiceHealth">
  <br>
  <br>
  <div><h1>Current Status:</h1></div>
  <br>
  <br>
  <div *ngFor="let serviceHealth of serviceHealthList" class="service-health-div">

    <!-- <div *ngIf="checkStatus(serviceHealth.status) === true"> -->
      <i class="bi bi-check-circle-fill"></i>
    <!-- </div> -->

    <div *ngIf="checkStatus(serviceHealth.status) === false">
      <i class="bi bi-x-circle-fill"></i>
    </div>
    <br>
    <h2><u>{{serviceHealth.name}}</u></h2>
    <br>
      <div *ngFor="let endpoint of serviceHealth.endpoints" class="subitem-div">

        <h3>{{endpoint.name}}</h3>
        <br>
      </div>
  </div>
</div>

<div *ngIf="showServiceHealthByDate">
  <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker">
    <input [matDatepicker]="basicDatepicker">
<mat-datepicker-toggle [for]="basicDatepicker">
  <mat-icon matDatepickerToggleIcon>
      mouse
  </mat-icon>
</mat-datepicker-toggle>
<mat-datepicker #basicDatepicker></mat-datepicker>
  </div>
</div>
